html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

svg {
  outline: 2px solid #eee;
  margin: 10px auto;
  display: block;
}

.button {
  display: inline-block;
  width: 34px;
  height: 34px; 
  margin: 3px;

  background: #aaa;
  border: transparent;
  border-radius: 4px;

  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;

  background-image: url('./assets/pause-circle-o.svg');
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

.label {
  cursor: default;
  background: none;
  color: #444;
  width: 80px;
  margin-top: 10px;
  font-size: 110%;
  font-weight: bold;
  text-align: right;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 20px;
}

.space {
  flex: 1 auto;
}

#controls {
  padding: 3px;
  display: flex;
  background: #eee;
}


/* apparently I can't change just the background color */
#start {
  background: #090;
  background-image: url('./assets/play-circle-o.svg');
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}
#stop {
  background: #b00;
  background-image: url('./assets/pause-circle-o.svg');
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* other action buttons */
#clear {
  background-image: url('./assets/repeat.svg');
}
#decrease {
  background-image: url('./assets/compress.svg');
}
#faster {
  background-image: url('./assets/forward.svg');
}
#increase {
  background-image: url('./assets/expand.svg');
}
#next {
  background-image: url('./assets/step-forward.svg');
}
#random {
  background-image: url('./assets/random.svg');
}
#slower {
  background-image: url('./assets/backward.svg');
}


